.cabecalho {
    background-color: var(--branco);
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__logo {
    width: 100px;
    height: 28px;
}

.cabecalho__botao {
    font-size: 14px;
    font-weight: 600;
    width: 8.313em;
    height: 2.5em;
    background-color: var(--branco);
    color: var(--azul01);
    border: 2px solid var(--azul01);
}

.cabecalho__botao-link {
    text-decoration: none;
    color: var(--azul01);
}

.cabecalho__botao-link:hover {
    background-color: var(--azul-hover2);
}

.cabecalho__image {
    padding: 1em;
}

.cabecalho__pesquisa-input {
    display: none;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 0 2em;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__pesquisa-input {
        font-size: 14px;
        display: block;
        width: 17em;
        height: 2.5em;
        padding-left: 1em;
        border: none;
        border-radius: 20px;
        background: url("../../../img/Icone-pesquisa2.jpg") #F5F5F5 no-repeat 95% 50%;
    }

    .cabecalho__botao:hover {
        background-color: var(--azul0);
    }

    .cabecalho__lupa {
        display: none;
    }
}

@media screen and (min-width: 1080px) {
    .cabecalho {
        padding: 0 9.75em;
        height: 7.188em;
    }

    .cabecalho__logo {
        width: 11em;
        height: 3.125em;
    }

    .cabecalho__pesquisa-input {
        width: 24.563em;
        height: 2.5em;
    }

    .cabecalho__botao {
        width: 11.375em;
        height: 3.188em;
    }

    .cabecalho__botao:hover {
        background-color: var(--azul0);
    }
}
