.rodape {
    background-color: var(--azul03);
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.rodape__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__logo {
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 100%;
}

.sobre__lista {
    text-align: center;
}

.lista-item {
    padding: .8em;
}

.lista__link {
    text-decoration: none;
    color: #464646;
    font-weight: 400;
}

.fale-conosco {
    padding: 1em 0;
}

.fale-conosco__titulo {
    font-weight: bold;
}

.fale-conosco__nome-label {
    color: var(--cinza-placeholder);
    font-size: 12px;
    padding: 0 1em;
    position: relative;
    top: 25px;
}

.fale-conosco__nome {
    font-family: var(--fonte-principal);
    width: 93%;
    height: 30px;
    padding: 26px 1em 0 1em;
    margin-bottom: 1em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1.5px #C8C8C8;
}

.fale-conosco__nome::placeholder {
    padding: 0 .4em;
    color: var(--cinza-placeholder);
}

.fale-conosco__msg {
    font-family: var(--fonte-principal);
    width: 100%;
    margin-bottom: .5em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1.5px #C8C8C8;
    color: #A2A2A2;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.fale-conosco__msg::placeholder {
    padding: 1em .4em;
    color: var(--cinza-placeholder);
}

.fale-conosco__botao {
    width: 151px;
    height: 40px;
    margin-bottom: 1em;
    border: none;
    background-color: var(--azul01);
    color: var(--branco);
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.fale-conosco__botao:hover {
    background-color: var(--azul-hover1);
}

@media screen and (min-width: 768px) {
    .rodape {
        padding: 1em 3em;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .sobre__lista {
        text-align: left;
    }

    .fale-conosco {
        width: 60%;
        padding: 2em 0;
        align-self: flex-start;
    }
}

@media screen and (min-width: 1080px) {
    .rodape {
        padding: 0 10.75em;
    }

    .fale-conosco {
        width: 50%;
    } 
    
    .rodape__container {
        flex-direction: row;
        width: 60%;
        justify-content: space-between;
    }

    .rodape__logo {
        flex-shrink: 20;
        align-self: flex-start;
        justify-content: left;
        padding: 0;
    }

    .rodape__sobre {
        display: flex;
        width: 60%;
        justify-content: center;
        padding-right: 1em;
    }
}
