.corpo__banner {
    display: flex;
    background: url("../../img/Hero-p.png") no-repeat center center;
    width: 100%;
    height: 192px;
    align-items: flex-end;
}

.banner__info {
    color: var(--branco);
    padding: 1em;
}

.banner__titulo {
    font-size: 22px;
    font-weight: bold;
    padding: .2em 0;
}

.banner__descricao {
    font-size: 14px;
    font-weight: 600;
    padding: .5em 0;
}

.banner__botao {
    font-weight: 600;
    font-size: 14px;
    width: 119px;
    height: 40px;
    background-color: var(--azul01);
    border: none;
    color: var(--cor-principal);
}

@media screen and (min-width: 361px) {
    .corpo__banner {
        background: url("../../img/Hero-m.png") no-repeat center center;
    }
}

@media screen and (min-width: 768px) {
    .corpo__banner {
        height: 22em;
    }

    .banner__info {
        padding: 1em 3em;
    }

    .banner__titulo {
        font-size: 52px;
    }

    .banner__descricao {
        font-size: 22px;
        padding: 1em 0;
    }
}

@media screen and (min-width: 769px) {
    .corpo__banner {
        background: url("../../img/Hero.png") no-repeat center center;
    }
}

@media screen and (min-width: 1080px) {
    .banner__info {
        padding: 1em 10.75em;
    }
}
