.cabecalho {
    background-color: var(--branco);
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__logo {
    width: 6.25rem;
    height: 1.75rem;
}

.cabecalho__botao {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 600;
    width: 8.313rem;
    height: 2.5rem;
    background-color: var(--branco);
    color: var(--azul01);
    border: 2px solid var(--azul01);
}

.cabecalho__botao:hover {
    background-color: var(--azul0);
}

.cabecalho__image {
    padding: 1rem;
}

.cabecalho__pesquisa-input {
    display: none;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 0 2rem;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__pesquisa-input {
        font-family: var(--fonte-principal);
        font-size: 14px;
        display: block;
        width: 17rem;
        height: 2.5rem;
        padding-left: 1rem;
        border: none;
        border-radius: 20px;
        background: url("../../img/Icone-pesquisa2.jpg") #F5F5F5 no-repeat 95% 50%;
    }

    .cabecalho__lupa {
        display: none;
    }
}

@media screen and (min-width: 1080px) {
    .cabecalho {
        padding: 0 9.75rem;
        height: 7.188rem;
    }

    .cabecalho__logo {
        width: 11rem;
        height: 3.125rem;
    }

    .cabecalho__pesquisa-input {
        width: 24.563rem;
        height: 2.5rem;
    }

    .cabecalho__botao {
        width: 11.375rem;
        height: 3.188rem;
    }
}
